<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.bms.dal.mapper.CategoryDeviceEventMapper">
    <resultMap id="DeviceEventTabulationResponse" type="com.landleaf.bms.domain.response.DeviceEventTabulationResponse">
        <result column="event_parameter" property="functionParameter"
                typeHandler="com.landleaf.bms.handler.FunctionParameterListTypeHandler" />
        <result column="response_parameter" property="responseParameter"
                typeHandler="com.landleaf.bms.handler.FunctionParameterListTypeHandler" />
    </resultMap>

    <select id="searchCandidateData" resultMap="DeviceEventTabulationResponse">
        select id,
               identifier,
               function_name,
               function_type,
               function_category,
               event_parameter,
               response_parameter
        from tb_feature_device_event
        where deleted = 0
          and identifier not in (select identifier
                                 from tb_category_management_device_event
                                 where category_id = #{request.categoryId}
                                   and deleted = 0)
          and function_type in (
                                '${@com.landleaf.bms.domain.enums.FunctionTypeEnum@STANDARD_OPTIONAL.getValue()}',
                                '${@com.landleaf.bms.domain.enums.FunctionTypeEnum@SYSTEM_OPTIONAL.getValue()}'
            )
        <if test="request.functionName != null and request.functionName != ''">
            and function_name like concat('%', #{request.functionName}::text, '%')
        </if>
        <if test="request.identifier != null and request.identifier != ''">
            and identifier like concat('%', #{request.identifier}::text, '%')
        </if>
        order by create_time, identifier
    </select>

    <select id="searchFunctionPage" resultMap="DeviceEventTabulationResponse">
        select id,
        identifier,
        function_name,
        function_type,
        function_category,
        event_parameter,
        response_parameter
        from tb_category_management_device_event
        <where>
            deleted = 0
            and category_id = #{request.categoryId}
            <if test="request.functionName != null and request.functionName != ''">
                and function_name like concat('%', #{request.functionName}::text, '%')
            </if>
            <if test="request.identifier != null and request.identifier != ''">
                and identifier like concat('%', #{request.identifier}::text, '%')
            </if>
        </where>
        order by create_time, identifier
    </select>

</mapper>
