<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.bms.dal.mapper.ProductDeviceEventMapper">

    <resultMap id="productDeviceEventListResponse" type="com.landleaf.bms.api.dto.ProductDeviceEventListResponse">
        <result column="event_parameter" property="eventParameter"
                typeHandler="com.landleaf.bms.handler.FunctionParameterListTypeHandler" />
        <result column="response_parameter" property="responseParameter"
                typeHandler="com.landleaf.bms.handler.FunctionParameterListTypeHandler" />
    </resultMap>

    <select id="pageQuery" resultMap="productDeviceEventListResponse">
        select *
        from tb_product_device_event
        <where>
            deleted = 0
            and product_id = #{request.productId}
            <if test="request.functionName != null and request.functionName != ''">
                and function_name like concat('%', #{request.functionName}::text, '%')
            </if>
            <if test="request.identifier != null and request.identifier != ''">
                and identifier like concat('%', #{request.identifier}::text, '%')
            </if>
        </where>
        order by create_time, identifier
    </select>
</mapper>
