<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.energy.dal.mapper.ProjectStaSubitemYearMapper">
    <resultMap id="BaseResultMap"
               type="com.landleaf.jjgj.domain.entity.ProjectStaSubitemYearEntity">
        <id column="id" property="id"/>
        <result column="biz_project_id" property="bizProjectId"/>
        <result column="project_code" property="projectCode"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="project_name" property="projectName"/>
        <result column="year" property="year"/>
        <result column="project_gas_fee_total" property="projectGasFeeTotal"/>
        <result column="project_gas_usage_total" property="projectGasUsageTotal"/>
        <result column="project_water_usage_total" property="projectWaterUsageTotal"/>
        <result column="project_water_fee_water" property="projectWaterFeeWater"/>
        <result column="project_water_fee_sewerage" property="projectWaterFeeSewerage"/>
        <result column="project_water_fee_total" property="projectWaterFeeTotal"/>
        <result column="project_electricity_energyUsage_flat" property="projectElectricityEnergyusageFlat"/>
        <result column="project_electricity_energyUsage_total" property="projectElectricityEnergyusageTotal"/>
        <result column="project_electricity_energyUsageFee_total" property="projectElectricityEnergyusagefeeTotal"/>
        <result column="project_electricity_energyUsage_tip" property="projectElectricityEnergyusageTip"/>
        <result column="project_electricity_energyUsage_valley" property="projectElectricityEnergyusageValley"/>
        <result column="project_electricity_energyUsage_peak" property="projectElectricityEnergyusagePeak"/>
        <result column="project_electricity_subElevatorEnergy_total"
                property="projectElectricitySubelevatorenergyTotal"/>
        <result column="project_electricity_subGuestRoomEnergy_total"
                property="projectElectricitySubguestroomenergyTotal"/>
        <result column="project_electricity_subHeatingWaterEnergy_total"
                property="projectElectricitySubheatingwaterenergyTotal"/>
        <result column="project_electricity_subHAVCEnergy_total" property="projectElectricitySubhavcenergyTotal"/>
        <result column="project_electricity_subOtherType_total" property="projectElectricitySubothertypeTotal"/>
        <result column="project_electricity_subWaterSupplyEnergy_total"
                property="projectElectricitySubwatersupplyenergyTotal"/>
        <result column="project_carbon_totalCoal_total" property="projectCarbonTotalcoalTotal"/>
        <result column="project_carbon_totalDust_total" property="projectCarbonTotaldustTotal"/>
        <result column="project_carbon_totalCO2_total" property="projectCarbonTotalco2Total"/>
        <result column="project_carbon_totalSO2_total" property="projectCarbonTotalso2Total"/>
        <result column="project_carbon_gasUsageCO2_total" property="projectCarbonGasusageco2Total"/>
        <result column="project_carbon_gasUsageCoal_total" property="projectCarbonGasusagecoalTotal"/>
        <result column="project_carbon_gasUsageDust_total" property="projectCarbonGasusagedustTotal"/>
        <result column="project_carbon_gasUsageSO2_total" property="projectCarbonGasusageso2Total"/>
        <result column="project_carbon_electricityUsageSO2_total" property="projectCarbonElectricityusageso2Total"/>
        <result column="project_carbon_electricityUsageDust_total" property="projectCarbonElectricityusagedustTotal"/>
        <result column="project_carbon_electricityUsageCO2_total" property="projectCarbonElectricityusageco2Total"/>
        <result column="project_carbon_electricityUsageCoal_total" property="projectCarbonElectricityusagecoalTotal"/>
        <result column="project_carbon_waterUsageDust_total" property="projectCarbonWaterusagedustTotal"/>
        <result column="project_carbon_waterUsageCoal_total" property="projectCarbonWaterusagecoalTotal"/>
        <result column="project_carbon_waterUsageCO2_total" property="projectCarbonWaterusageco2Total"/>
        <result column="project_carbon_waterUsageSO2_total" property="projectCarbonWaterusageso2Total"/>
        <result column="sta_time" property="staTime"/>
    </resultMap>

    <update id="updateIsDeleted">
        update tb_project_sta_subitem_year
        set deleted = #{isDeleted}
        where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
