<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.energy.dal.mapper.ProjectManualDeviceElectricityDayMapper">

    <select id="searchPageData" resultType="com.landleaf.jjgj.domain.response.DeviceElectricityTabulationResponse">
        select tpmded.id,
               tpmded.biz_device_id,
               tdi.name                                                  as deviceName,
               tdp.value                                                 as multiplyingFactor,
               (tpmded.year || '-' || tpmded.month || '-' || tpmded.day) as time,
               tpmded.energymeter_epimport_total                         as activeTotal,
               tpmded.sta_time,
               tpmded.open_displays_value,
               tpmded.close_displays_value,
               tu.nickname                                               as username,
               tpmded.remark
        from tb_project_manual_device_electricity_day tpmded
                 left join tb_device_iot tdi on tpmded.biz_device_id = tdi.biz_device_id and tdi.deleted = 0
                 left join tb_device_parameter tdp
                           on tpmded.biz_device_id = tdp.biz_device_id and tdp.identifier = 'multiplyingFactor' and
                              tdp.deleted = 0
                 left join tb_user tu on tpmded.creator = tu.id and tu.deleted = 0
        where tpmded.biz_device_id in
        <foreach collection="request.deviceBizIds" open="(" item="bizId" separator="," close=")">
            #{bizId,jdbcType=VARCHAR}
        </foreach>
        and to_date(year || '-' || month || '-' || day, 'YYYY-MM-DD') BETWEEN to_date(#{request.startData}::text, 'YYYY-MM-DD') AND to_date(#{request.endData}::text, 'YYYY-MM-DD')
        and tpmded.deleted = 0
    </select>

</mapper>
