<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landleaf.energy.dal.mapper.ProjectStaDeviceElectricityDayMapper">
    <resultMap id="BaseResultMap"
               type="com.landleaf.energy.domain.entity.ProjectStaDeviceElectricityDayEntity">
        <id column="id" property="id"/>
        <result column="biz_device_id" property="bizDeviceId"/>
        <result column="biz_product_id" property="bizProductId"/>
        <result column="biz_category_id" property="bizCategoryId"/>
        <result column="biz_project_id" property="bizProjectId"/>
        <result column="project_code" property="projectCode"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="day" property="day"/>
        <result column="energymeter_epimport_total" property="energymeterEpimportTotal"/>
        <result column="sta_time" property="staTime"/>
    </resultMap>


    <update id="updateIsDeleted">
        update tb_project_sta_device_electricity_day
        set deleted = #{isDeleted}
        where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="searchPageData" resultType="com.landleaf.energy.domain.response.DeviceElectricityTabulationResponse">
        select tpsded.id,
        tpsded.biz_device_id,
        tdi.name as deviceName,
        tdp.value as multiplyingFactor,
        (tpsded.year || '-' || tpsded.month || '-' || tpsded.day) as time,
        tpsded.energymeter_epimport_total as activeTotal,
        tpsded.create_time as sta_time,
        tpsded.energymeter_epimport_start as open_displays_value,
        tpsded.energymeter_epimport_end as close_displays_value,
        CASE tpsded.updater
        WHEN 0 THEN 'SYS'
        ELSE tu."nickname"
        END AS username,
        tpsded.remark
        from tb_project_sta_device_electricity_day tpsded
        left join tb_device_iot tdi on tpsded.biz_device_id = tdi.biz_device_id and tdi.deleted = 0
        left join tb_device_parameter tdp
        on tpsded.biz_device_id = tdp.biz_device_id and tdp.identifier = 'multiplyingFactor' and
        tdp.deleted = 0
        left join tb_user tu on tpsded.updater = tu.id and tu.deleted = 0
        where tpsded.biz_device_id in
        <foreach collection="request.deviceBizIds" open="(" item="bizId" separator="," close=")">
            #{bizId,jdbcType=VARCHAR}
        </foreach>
        and to_date(year || '-' || month || '-' || day, 'YYYY-MM-DD') BETWEEN to_date(#{request.startData}::text,
        'YYYY-MM-DD') AND to_date(#{request.endData}::text, 'YYYY-MM-DD')
        and tpsded.deleted = 0
        order by tpsded.biz_device_id, tpsded.sta_time desc
    </select>

    <select id="getManualInsertData"
            resultType="com.landleaf.energy.domain.entity.ProjectStaDeviceElectricityDayEntity">
        SELECT ta.biz_device_id,
               ta.biz_product_id,
               ta.biz_category_id,
               ta.biz_project_id,
               tb.code AS project_code,
               ta.tenant_id,
               tc.code AS tenant_code
        FROM tb_device_monitor ta
                 LEFT JOIN tb_project tb ON ta.biz_project_id = tb.biz_project_id AND tb.deleted = 0
                 LEFT JOIN tb_tenant tc ON ta.tenant_id = tc."id" AND tc.deleted = 0
        WHERE ta.deleted = 0
          AND ta.biz_device_id = #{bizDeviceId}
    </select>
</mapper>
