package $!{package};

import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.EqualsAndHashCode;
import com.landleaf.comm.base.pojo.PageParam;

import java.math.BigDecimal;
import java.sql.Timestamp;

import java.util.Date;

/**
 * #if ("$!{table.comment}"=="")$!{entity}对象的查询时的参数封装#else$!{table.comment}的查询时的参数封装#end

 *
 * @author $!{author}
 * @since $!{date}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Schema(name = "$!{dto}", description = #if (
    "$!{table.comment}"=="")"$!{entity}对象的查询时的参数封装"#else"$!{table.comment}的查询时的参数封装"#end)
public class $!{dto} extends PageParam{
#foreach($field in $!{table.fields})

/**
 * $!{field.columnDesc}
 */
    #if ("$!{field.columnDesc}" != "")
    @Schema(description = "$!{field.columnDesc}")
    #end
private $!{field.columnType} $!{field.columnNameNew};
#end

/**
 * 开始时间
 */
@Schema(name = "开始时间,格式为yyyy-MM-dd")
private String startTime;

/**
 * 结束时间
 */
@Schema(name = "结束时间,格式为yyyy-MM-dd")
private String endTime;
        }