package $!{package};

import java.util.List;


import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.IService;

import $!{dtoPackage}.$!{addDto};
import $!{dtoPackage}.$!{queryDto};
import $!{entityPackage}.$!{entity};

/**
 * #if ("$!{table.comment}"=="")$!{entity}对象的业务逻辑接口定义#else$!{table.comment}的业务逻辑接口定义#end
 
 *
 * @author $!{author}
 * @since $!{date}
 */
public interface $!{service} extends IService<$!{entity}> {

	/**
	 * 新增一个对象
	 * 
	 * @param addInfo
	 *            新增对象的数据的封装
	 * @return 新增后的数据对象
	 */
	$!{addDto} save($!{addDto} addInfo);

	/**
	 * 修改一个对象
	 * 
	 * @param updateInfo
	 *            修改对象的数据的封装
	 */
	void update($!{addDto} updateInfo);

	/**
	 * 修改数据的is_delete标识
	 * 
	 * @param ids
	 *            要修改的数据的编号
	 * @param isDeleted
	 *            删除标记
	 */
	void updateIsDeleted(String ids, Integer isDeleted);

	/**
	 * 根据id，查询详情
	 * 
	 * @param id
	 *            编号
	 * @return 详情信息
	 */
	$!{entity} selectById($!{keyType} id);

	/**
	 * 根据查询条件，查询实体的集合
	 * 
	 * @param queryInfo
	 *            查询条件封装
	 * @return 实体的集合
	 */
	List<$!{entity}> list($!{queryDto} queryInfo);

	/**
	 * 根据查询条件，分页查询实体的集合
	 * 
	 * @param queryInfo
	 *            查询条件封装
	 * @return 实体的集合的分页信息
	 */
	IPage<$!{entity}> page($!{queryDto} queryInfo);
}